.statbar-container {
    width: 100%;
    margin: 8px 0;
  }
  
  .statbar-label {
    font-size: 20px;
    margin-bottom: 4px;
    color: #fff;
  }
  .statbar-value {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    padding-left: 8px;
  }
  
  .statbar-bar {
    height: 15px;
    width: 100%;
    background-color: #1e293b;
    border-radius: 50px;
    overflow: hidden;
    /* border: 3px solid rgba(245, 245, 245, 0.3); */
    padding: 5px;
    /* box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.2); */
  }
  
  .statbar-fill {
    border-radius: 50px;
    height: 100%;
    background-color: #FFCC01;
    transition: width 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }
  